body {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  background-color: rgba(217, 229, 214, 1);
}

header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(243, 230, 186, 1);
}
@media screen and (min-width: 800px;){
  
}

.logo-association  {
  width: 10%;
}
.menu-logo{
  width: 8%;
}
h1 {
  font-size: 4vw;
}

h2{
  font-size: 3.5vw;
  padding: 10px;
}
h3{
  font-size: 3vw;
}

.photo1 {
  width: 100%;
}

.contenant{
  position: relative;
  text-align: center;
  color: black;
  padding-bottom: 8%;
}

.le-programme{
margin-bottom: 8%;
}

.texte-evenement{
  position: absolute;
  background-color:rgba(243, 230, 186, 1) ;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
}
.texte-ouverture{
  position: absolute;
  width: 60%;
  background-color:rgba(243, 230, 186, 1) ;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
}
p{
  margin: 0;
  font-size: 3vw;
  font-family: 'Space Mono', monospace;
}

.paella-picture{
  width: 40%;
  height: 100%;
  border-radius: 2%;
 
}
.paella p {
  width: 50%;
}
div.paella{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5%;
}

main.texte{
  width: 100%;
  display:flex ;
  justify-content: space-evenly;
  margin: 10px auto;

}
main.texte p{
  text-align: center;
}

main.picture{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.picture-hermione,.picture-gezi{
  width: 40%;
  border-radius: 2%;
}
.picture-gezi{
  height: 40%;
}

.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texte-location{
 text-align: center;
 justify-content: center;
 width: 100%;
 margin-top: 10px;
}

.picture-location{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 8%;
}
.picture-yacht{
  width: 25%;
}
 .picture-zokoa{
  width: 35%;
 }

hr {
  background-color: black;
  width: 85%;
  height:2px;
  text-align: center;
}

.footer-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-spacing: 0.5rem;
}
.lien {
  text-align: center;
}
.logo-footer {
  width: 15%;
  padding-left: 10px;
}

.footer-mail {
  width: 100%;
  height: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.inscription {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 3vw;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: rgba(46, 150, 208, 1);
}

.footer-icone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
.facebook, .enveloppe, .instagram, .twitter {
  width: 8%;;
}

input {
  font-size: 3vw;
}